.r1 {
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
.arena1 {
    display: flex;
}
.main {
  margin: auto;
  width: 174px;
}

.colorfull {
  background-image: url(../ai.jpg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
.button {
  margin-top: 60px;
}
.bg {
  background-color: white;
}
.dull {
  background-image: url(../player.jpg);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
.text {
  padding-top: 40px;
  font-size: 30px;
  font-family: monospace;
  color: blue;
}
