.r1 {
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
.arena1 {
    display: flex;
}
.main {
  margin: auto;
  width: 174px;
}

.colorfull {
  background-color:grey;
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
.button {
  margin-top: 60px;
}
.bg {
  background-color: black;
}
.dull {
  background-color:green;
  width: 30px;
  height: 30px;
  border: 4px double red;
  padding: 10px;
}
